.color-popup { 
  color:#ec6a5d; 
  margin:-11px;
  padding-left:8px;
  
}

.color-buscadores { 
  color:#ec6a5d; 
  margin:-11px;
  padding-left:8px;
  
}




.modal
{
     overflow: hidden;
    
    
    left: 519px;
    top: 68px;
      
      
    right: 0;
    bottom: 0;
   
   
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}