USE [DatPosAdmin]
GO
/****** Object:  Table [dbo].[Accesos]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accesos](
	[id_acceso] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NULL,
	[id_menu] [int] NULL,
 CONSTRAINT [PK_Accesos] PRIMARY KEY CLUSTERED 
(
	[id_acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[id_departamento] [varchar](10) NOT NULL,
	[cdescripcion] [varchar](100) NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id_distrito] [varchar](10) NOT NULL,
	[id_provincia] [varchar](10) NULL,
	[cdescripcion] [varchar](100) NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id_distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[ccod_empresa] [varchar](20) NOT NULL,
	[cdsc_empresa] [varchar](150) NULL,
	[cnombre_bd] [varchar](100) NULL,
	[cnombre_servidor] [varchar](100) NULL,
	[id_estado] [int] NULL,
	[cnum_tribu] [varchar](20) NULL,
	[csimbolo_moneda] [varchar](5) NULL,
	[cnombre_moneda] [varchar](50) NULL,
	[ctarifas] [varchar](50) NULL,
	[nusuario_extra] [int] NULL,
	[ntienda_extra] [int] NULL,
	[cdepartamento] [varchar](10) NULL,
	[cprovincia] [varchar](10) NULL,
	[cdistrito] [varchar](10) NULL,
	[curbanizacion] [varchar](100) NULL,
	[cdomicilio] [varchar](200) NULL,
	[cubigeo] [varchar](6) NULL,
	[nenviosunat] [varchar](2) NULL,
	[dfch_sunat] [datetime] NULL,
	[ccod_cliente_emis] [varchar](50) NULL,
	[dfch_vencimiento] [datetime] NULL,
	[ctoken] [nvarchar](max) NULL,
	[ctip_facturador] [varchar](50) NULL,
	[dfch_crea] [datetime] NULL,
	[cpais_origen] [varchar](50) NULL,
	[cdoc] [varchar](20) NULL,
	[cnomser] [varchar](100) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[ccod_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Empresas_Id] UNIQUE NONCLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[id_estado] [int] NOT NULL,
	[cdsc_estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[id_menu] [int] IDENTITY(1,1) NOT NULL,
	[cdsc_menu] [varchar](100) NULL,
	[curl_href] [varchar](255) NULL,
	[curl_src] [varchar](255) NULL,
	[nid_menupadre] [int] NULL,
	[cli_menu] [varchar](100) NULL,
	[cul_menu] [varchar](100) NULL,
	[nivel] [varchar](10) NULL,
	[corden] [int] NULL,
	[cstatus] [varchar](1) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [varchar](10) NOT NULL,
	[id_departamento] [varchar](10) NULL,
	[cdescripcion] [varchar](100) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[cdsc_rol] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[id_tipodocumento] [int] IDENTITY(1,1) NOT NULL,
	[cdsc_tipo_doc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[id_tipodocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[ccod_usuario] [varchar](50) NULL,
	[cpassw] [varchar](100) NULL,
	[cdsc_usuario] [varchar](150) NULL,
	[id_rol] [int] NULL,
	[ccod_empresa] [varchar](20) NULL,
	[cmail] [varchar](100) NULL,
	[ctelf] [varchar](20) NULL,
	[ccelular] [varchar](20) NULL,
	[cdirec] [varchar](200) NULL,
	[id_estado] [int] NULL,
	[dfch_crea] [datetime] NULL,
	[ccod_tiend] [varchar](20) NULL,
	[ccod_almacen] [varchar](20) NULL,
	[ccod_caja] [varchar](20) NULL,
	[cperm_descn] [varchar](50) NULL,
	[ifoto] [varbinary](max) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Codigo] UNIQUE NONCLUSTERED 
(
	[ccod_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((0)) FOR [nusuario_extra]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((0)) FOR [ntienda_extra]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [dfch_crea]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ('A') FOR [cstatus]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [dfch_crea]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [FK_Accesos_Menu] FOREIGN KEY([id_menu])
REFERENCES [dbo].[Menus] ([id_menu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [FK_Accesos_Menu]
GO
ALTER TABLE [dbo].[Accesos]  WITH CHECK ADD  CONSTRAINT [FK_Accesos_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accesos] CHECK CONSTRAINT [FK_Accesos_Rol]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Provincia]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Departamento] FOREIGN KEY([cdepartamento])
REFERENCES [dbo].[Departamento] ([id_departamento])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Departamento]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Distrito] FOREIGN KEY([cdistrito])
REFERENCES [dbo].[Distrito] ([id_distrito])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Distrito]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estados] ([id_estado])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Estado]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Provincia] FOREIGN KEY([cprovincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Provincia]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Padre] FOREIGN KEY([nid_menupadre])
REFERENCES [dbo].[Menus] ([id_menu])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Padre]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [FK_Provincia_Departamento] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Departamento] ([id_departamento])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [FK_Provincia_Departamento]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empresa] FOREIGN KEY([ccod_empresa])
REFERENCES [dbo].[Empresas] ([ccod_empresa])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empresa]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estados] ([id_estado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Estado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
/****** Object:  StoredProcedure [dbo].[ConsultasEmpresasPrincipal]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ----------------------------------------------------------------------------
-- PROCEDIMIENTOS ALMACENADOS
-- ----------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[ConsultasEmpresasPrincipal]
    @ccod_empresa  VARCHAR(20),
    @ctarifas      VARCHAR(50),
    @cpais_origen  VARCHAR(50),
    @cstatus       VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ccod_empresa,
        cdsc_empresa,
        ISNULL(cnum_tribu, '')   AS Documento,
        cnombre_servidor,
        cnombre_bd,
        ISNULL(cpais_origen, '') AS Pais,
        ISNULL(ctarifas, '')     AS Tarifa,
        id_estado
    FROM dbo.Empresas
    WHERE (@ccod_empresa = '' OR ccod_empresa LIKE '%' + @ccod_empresa + '%')
      AND (@ctarifas = 'T' OR @ctarifas = '' OR ISNULL(ctarifas, '') = @ctarifas)
      AND (@cpais_origen = '' OR ISNULL(cpais_origen, '') LIKE '%' + @cpais_origen + '%')
      AND (@cstatus = 'T' OR @cstatus = '' OR id_estado = TRY_CAST(@cstatus AS INT));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_consultaestados]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_consultaestados]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_estado, cdsc_estado AS cdescripcion FROM dbo.Estados;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_consultarempresas]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_consultarempresas]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        ccod_empresa,
        cdsc_empresa            AS cdescripcion,
        ISNULL(cdoc, '')        AS cdoc,
        ISNULL(cnum_tribu, '')  AS cnum_tribu,
        ISNULL(cnomser, '')     AS cnomser,
        cnombre_bd
    FROM dbo.Empresas;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_consultarroles]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_consultarroles]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_rol, cdsc_rol AS cdescripcion FROM dbo.Roles;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_consultatipodocumento]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_consultatipodocumento]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_tipodocumento, cdsc_tipo_doc AS cdescripcion FROM dbo.TipoDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_editarempresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_editarempresa]
    @ccod_empresa  VARCHAR(20),
    @cdescripcion  VARCHAR(200),
    @cdoc          VARCHAR(20),
    @cnum_tribu    VARCHAR(20),
    @cnomser       VARCHAR(100),
    @cnombre_bd    VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Empresas
    SET cdsc_empresa = @cdescripcion,
        cdoc         = @cdoc,
        cnum_tribu   = @cnum_tribu,
        cnomser      = @cnomser,
        cnombre_bd   = @cnombre_bd
    WHERE ccod_empresa = @ccod_empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_editarusuariocliente]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_editarusuariocliente]
    @ccod_usuario  VARCHAR(50),
    @cdsc_usuario  VARCHAR(200),
    @id_rol        INT,
    @ccod_empresa  VARCHAR(20),
    @id_estado     INT,
    @cmail         VARCHAR(100),
    @ctelf         VARCHAR(20),
    @ccelular      VARCHAR(20),
    @cdirec        VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Usuarios
    SET cdsc_usuario = @cdsc_usuario,
        id_rol       = @id_rol,
        ccod_empresa = @ccod_empresa,
        id_estado    = @id_estado,
        cmail        = @cmail,
        ctelf        = @ctelf,
        ccelular     = @ccelular,
        cdirec       = @cdirec
    WHERE ccod_usuario = @ccod_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarempresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_eliminarempresa]
    @ccod_empresa VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Empresas WHERE ccod_empresa = @ccod_empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminarusuariocliente]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_eliminarusuariocliente]
    @ccod_usuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.Usuarios WHERE ccod_usuario = @ccod_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarempresas]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_insertarempresas]
    @ccod_empresa  VARCHAR(20),
    @cdescripcion  VARCHAR(200),
    @cdoc          VARCHAR(20),
    @cnum_tribu    VARCHAR(20),
    @cnomser       VARCHAR(100),
    @cnombre_bd    VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Empresas (ccod_empresa, cdsc_empresa, cdoc, cnum_tribu, cnomser, cnombre_bd)
    VALUES (@ccod_empresa, @cdescripcion, @cdoc, @cnum_tribu, @cnomser, @cnombre_bd);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarusuarios]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_insertarusuarios]
    @ccod_usuario  VARCHAR(50),
    @cdsc_usuario  VARCHAR(200),
    @cpassw        VARCHAR(200),
    @id_rol        INT,
    @ccod_empresa  VARCHAR(20),
    @id_estado     INT,
    @cmail         VARCHAR(100),
    @ctelf         VARCHAR(20),
    @ccelular      VARCHAR(20),
    @cdirec        VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Usuarios
        (ccod_usuario, cdsc_usuario, cpassw, id_rol, ccod_empresa,
         id_estado, cmail, ctelf, ccelular, cdirec)
    VALUES
        (@ccod_usuario, @cdsc_usuario, @cpassw, @id_rol, @ccod_empresa,
         @id_estado, @cmail, @ctelf, @ccelular, @cdirec);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_validarusuario]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_validarusuario]
    @ccod_usuario VARCHAR(50),
    @cpassw       VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        U.id_usuario                     AS id_ctusu,
        U.ccod_usuario,
        U.cdsc_usuario,
        U.id_rol                         AS rolMaster,
        U.ccod_empresa,
        ISNULL(E.cnombre_bd, '')         AS cnombre_bd,
        ISNULL(E.cnombre_servidor, '')   AS cnomser,
        ISNULL(E.cdsc_empresa, '')       AS cdescripcion,
        ISNULL(E.cnum_tribu, '')         AS cnum_tribu,
        ISNULL(E.ntienda_extra, 0)       AS ntienda_extra,
        ISNULL(E.nusuario_extra, 0)      AS nusuario_extra,
        ISNULL(E.ctarifas, '')           AS ctarifas,
        ISNULL(E.cnombre_moneda, '')     AS cnombre_moneda,
        ISNULL(E.csimbolo_moneda, '')    AS csimbolo_moneda,
        ISNULL(E.cdomicilio, '')         AS cdomicilio,
        ISNULL(E.cprovincia, '')         AS cprovincia,
        ISNULL(E.cdistrito, '')          AS cdistrito,
        ISNULL(E.cdepartamento, '')      AS cdepartamento,
        ISNULL(E.ctip_facturador, '')    AS ctip_facturador,
        E.dfch_vencimiento,
        CASE WHEN U.id_estado = 1 THEN 'Habilitado' ELSE 'Bloqueado' END AS estado,
        ISNULL(E.ccod_cliente_emis, '')  AS ccod_cliente_emis,
        ISNULL(CAST(E.ctoken AS NVARCHAR(MAX)), '') AS ctoken
    FROM dbo.Usuarios U
    INNER JOIN dbo.Empresas E ON E.ccod_empresa = U.ccod_empresa
    WHERE U.ccod_usuario = @ccod_usuario
      AND U.cpassw       = @cpassw;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_buscarTarifa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_buscarTarifa]
    @ccod_empresa  VARCHAR(20),
    @ctarifas      VARCHAR(20),
    @cpais_origen  VARCHAR(50),
    @cstatus       VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        E.ccod_empresa,
        E.cdsc_empresa,
        ISNULL(E.cnum_tribu, '')   AS Documento,
        E.cnombre_servidor,
        E.cnombre_bd,
        ISNULL(E.cpais_origen, '') AS Pais,
        ISNULL(E.ctarifas, '')     AS Tarifa,
        E.id_estado
    FROM dbo.Empresas E
    WHERE (@ccod_empresa = '' OR E.ccod_empresa = @ccod_empresa)
      AND (@ctarifas = 'T' OR ISNULL(E.ctarifas, '') = @ctarifas)
      AND (@cpais_origen = 'T' OR ISNULL(E.cpais_origen, '') = @cpais_origen)
      AND (@cstatus = 'T' OR E.id_estado = TRY_CAST(@cstatus AS INT));
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_cambiarContrasena]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_cambiarContrasena]
    @ccod_usuario VARCHAR(50),
    @cpassw       VARCHAR(200),
    @newpassw     VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @existe INT = 0;
    SELECT @existe = COUNT(*)
    FROM dbo.Usuarios
    WHERE ccod_usuario = @ccod_usuario
      AND cpassw       = @cpassw;

    IF @existe > 0
    BEGIN
        UPDATE dbo.Usuarios SET cpassw = @newpassw WHERE ccod_usuario = @ccod_usuario;
        SELECT 1 AS resultado;
    END
    ELSE
    BEGIN
        SELECT 0 AS resultado;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_cargarDepartamentos]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_cargarDepartamentos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_departamento, cdescripcion FROM dbo.Departamento ORDER BY cdescripcion;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_cargarDistritos]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_cargarDistritos]
    @id_provincia VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_distrito, cdescripcion
    FROM dbo.Distrito
    WHERE id_provincia = @id_provincia
    ORDER BY cdescripcion;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_cargarProvincias]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_cargarProvincias]
    @id_departamento VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT id_provincia, cdescripcion
    FROM dbo.Provincia
    WHERE id_departamento = @id_departamento
    ORDER BY cdescripcion;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_consultaPorCodEmpresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_consultaPorCodEmpresa]
    @ccod_empresa VARCHAR(20),
    @cstatus      VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        E.ccod_empresa,
        E.cdsc_empresa,
        U.ccod_usuario,
        U.cdsc_usuario,
        ISNULL(U.cdirec, '')        AS cdirec,
        ISNULL(R.cdsc_rol, '')      AS cdsc_rol,
        ISNULL(D.cdescripcion, '')  AS cdsc_departamento,
        U.id_estado,
        ISNULL(U.ccelular, '')      AS ccelular
    FROM dbo.Usuarios U
    INNER JOIN dbo.Empresas E ON U.ccod_empresa = E.ccod_empresa
    LEFT JOIN dbo.Roles R         ON U.id_rol         = R.id_rol
    LEFT JOIN dbo.Departamento D  ON E.cdepartamento  = D.id_departamento
    WHERE E.ccod_empresa = @ccod_empresa
      AND (@cstatus = 'T' OR @cstatus = '' OR U.id_estado = TRY_CAST(@cstatus AS INT));
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_consultarEmpresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_consultarEmpresa]
    @ccod_empresa VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        id_empresa,
        ccod_empresa,
        cdsc_empresa,
        ISNULL(cnum_tribu, '')      AS cnum_tribu,
        cnombre_servidor,
        cnombre_bd,
        ISNULL(csimbolo_moneda, '') AS csimbolo_moneda,
        ISNULL(cnombre_moneda, '')  AS cnombre_moneda,
        ISNULL(ctarifas, '')        AS ctarifas,
        ISNULL(nusuario_extra, 0)   AS nusuario_extra,
        ISNULL(ntienda_extra, 0)    AS ntienda_extra,
        cdepartamento,
        cprovincia,
        cdistrito,
        curbanizacion,
        cdomicilio,
        cubigeo,
        nenviosunat,
        dfch_sunat,
        ccod_cliente_emis,
        dfch_vencimiento,
        ctoken,
        ctip_facturador,
        dfch_crea
    FROM dbo.Empresas
    WHERE ccod_empresa = @ccod_empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_consultarEmpresas]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_consultarEmpresas]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        id_empresa,
        ccod_empresa,
        cdsc_empresa,
        ISNULL(cnum_tribu, '')      AS cnum_tribu,
        cnombre_servidor,
        cnombre_bd,
        ISNULL(csimbolo_moneda, '') AS csimbolo_moneda,
        ISNULL(cnombre_moneda, '')  AS cnombre_moneda,
        ISNULL(ctarifas, '')        AS ctarifas,
        ISNULL(nusuario_extra, 0)   AS nusuario_extra,
        ISNULL(ntienda_extra, 0)    AS ntienda_extra,
        ISNULL(CONVERT(VARCHAR(19), dfch_crea, 120), '') AS dfch_crea
    FROM dbo.Empresas
    WHERE id_estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_consultaUsuario]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_consultaUsuario]
    @ccod_usuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        U.id_usuario,
        U.ccod_usuario,
        U.cdsc_usuario,
        U.cpassw,
        ISNULL(U.cdirec, '')                              AS cdirec,
        U.id_rol,
        U.ccod_empresa,
        CAST(U.id_estado AS VARCHAR(10))                  AS id_estado,
        ISNULL(CONVERT(VARCHAR(19), U.dfch_crea, 120), '') AS dfch_crea,
        ISNULL(U.cmail, '')                               AS cmail,
        ISNULL(U.ctelf, '')                               AS ctelf,
        ISNULL(U.ccelular, '')                            AS ccelular,
        ISNULL(E.cdsc_empresa, '')                        AS cdsc_empresa,
        ISNULL(U.ccod_tiend, '')                          AS ccod_tiend,
        ISNULL(U.ccod_almacen, '')                        AS ccod_almacen,
        ISNULL(U.ccod_caja, '')                           AS ccod_caja,
        ISNULL(U.cperm_descn, '')                         AS cperm_descn
    FROM dbo.Usuarios U
    INNER JOIN dbo.Empresas E ON U.ccod_empresa = E.ccod_empresa
    WHERE U.ccod_usuario = @ccod_usuario
      AND U.id_estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_consultaUsuarios]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_consultaUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        U.id_usuario,
        U.ccod_usuario,
        U.cdsc_usuario,
        U.cpassw,
        ISNULL(U.cdirec, '')                               AS cdirec,
        CAST(U.id_rol AS VARCHAR(10))                      AS id_rol,
        U.ccod_empresa,
        CAST(U.id_estado AS VARCHAR(10))                   AS id_estado,
        ISNULL(CONVERT(VARCHAR(19), U.dfch_crea, 120), '') AS dfch_crea
    FROM dbo.Usuarios U
    WHERE U.id_estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_contadorEmpresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_contadorEmpresa]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) AS cantidaTienda FROM dbo.Empresas WHERE id_estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_contadorUsuario]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_contadorUsuario]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*) AS cantidaUsuarios FROM dbo.Usuarios WHERE id_estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_countUsuariosPorEmpresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_countUsuariosPorEmpresa]
    @ccod_empresa VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        E.ccod_empresa,
        E.cdsc_empresa,
        COUNT(U.id_usuario) AS TotalUsuarios
    FROM dbo.Empresas E
    LEFT JOIN dbo.Usuarios U
        ON E.ccod_empresa = U.ccod_empresa
       AND U.id_estado = 1
    WHERE (@ccod_empresa = '' OR E.ccod_empresa = @ccod_empresa)
    GROUP BY E.ccod_empresa, E.cdsc_empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_editarEmpresa]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_editarEmpresa]
    @ccod_empresa      VARCHAR(20),
    @cdescripcion      VARCHAR(150),
    @cnum_tribu        VARCHAR(20),
    @cnombre_bd        VARCHAR(100),
    @cnombre_servidor  VARCHAR(100),
    @csimbolo_moneda   VARCHAR(5),
    @cnombre_moneda    VARCHAR(50),
    @ctarifas          VARCHAR(50),
    @nusuario_extra    INT,
    @ntienda_extra     INT,
    @cdepartamento     VARCHAR(10),
    @cdistrito         VARCHAR(10),
    @cprovincia        VARCHAR(10),
    @curbanizacion     VARCHAR(100),
    @cdomicilio        VARCHAR(200),
    @cubigeo           VARCHAR(6),
    @nenviosunat       VARCHAR(2),
    @dfch_sunat        DATETIME,
    @dfch_vencimiento  DATETIME,
    @ctoken            NVARCHAR(MAX),
    @ctip_facturador   VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Empresas
    SET cdsc_empresa     = ISNULL(@cdescripcion,     cdsc_empresa),
        cnum_tribu       = ISNULL(@cnum_tribu,       cnum_tribu),
        cnombre_bd       = ISNULL(@cnombre_bd,       cnombre_bd),
        cnombre_servidor = ISNULL(@cnombre_servidor, cnombre_servidor),
        csimbolo_moneda  = ISNULL(@csimbolo_moneda,  csimbolo_moneda),
        cnombre_moneda   = ISNULL(@cnombre_moneda,   cnombre_moneda),
        ctarifas         = ISNULL(@ctarifas,         ctarifas),
        nusuario_extra   = ISNULL(@nusuario_extra,   nusuario_extra),
        ntienda_extra    = ISNULL(@ntienda_extra,    ntienda_extra),
        cdepartamento    = ISNULL(@cdepartamento,    cdepartamento),
        cdistrito        = ISNULL(@cdistrito,        cdistrito),
        cprovincia       = ISNULL(@cprovincia,       cprovincia),
        curbanizacion    = ISNULL(@curbanizacion,    curbanizacion),
        cdomicilio       = ISNULL(@cdomicilio,       cdomicilio),
        cubigeo          = ISNULL(@cubigeo,          cubigeo),
        nenviosunat      = ISNULL(@nenviosunat,      nenviosunat),
        dfch_sunat       = ISNULL(@dfch_sunat,       dfch_sunat),
        dfch_vencimiento = ISNULL(@dfch_vencimiento, dfch_vencimiento),
        ctoken           = ISNULL(@ctoken,           ctoken),
        ctip_facturador  = ISNULL(@ctip_facturador,  ctip_facturador)
    WHERE ccod_empresa = @ccod_empresa;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_editarUsuarioAdmin]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_editarUsuarioAdmin]
    @ccod_usuario  VARCHAR(50),
    @cdsc_usuario  VARCHAR(150),
    @cpassw        VARCHAR(100),
    @cdirec        VARCHAR(200),
    @id_rol        INT,
    @ccod_empresa  VARCHAR(20),
    @cstatus       VARCHAR(1),
    @cmail         VARCHAR(100),
    @ctelf         VARCHAR(20),
    @ccelular      VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Usuarios
    SET cdsc_usuario = @cdsc_usuario,
        cpassw       = @cpassw,
        cdirec       = ISNULL(@cdirec, ''),
        id_rol       = @id_rol,
        ccod_empresa = @ccod_empresa,
        cmail        = ISNULL(@cmail, ''),
        ctelf        = ISNULL(@ctelf, ''),
        ccelular     = ISNULL(@ccelular, ''),
        id_estado    = CASE WHEN @cstatus = 'A' OR @cstatus = '1' THEN 1 ELSE 0 END
    WHERE ccod_usuario = @ccod_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_eliminarUsuarioAdmin]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_eliminarUsuarioAdmin]
    @ccod_usuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.Usuarios SET id_estado = 0 WHERE ccod_usuario = @ccod_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_insertarEmpresas]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_insertarEmpresas]
    @ccod_empresa       VARCHAR(20),
    @cdsc_empresa       VARCHAR(150),
    @cnombre_bd         VARCHAR(100),
    @cnombre_servidor   VARCHAR(100),
    @cnum_tribu         VARCHAR(20),
    @csimbolo_moneda    VARCHAR(5),
    @cnombre_moneda     VARCHAR(50),
    @ctarifas           VARCHAR(50),
    @nusuario_extra     INT,
    @ntienda_extra      INT,
    @cdepartamento      VARCHAR(10),
    @cprovincia         VARCHAR(10),
    @cdistrito          VARCHAR(10),
    @curbanizacion      VARCHAR(100),
    @cdomicilio         VARCHAR(200),
    @cubigeo            VARCHAR(6),
    @nenviosunat        VARCHAR(2),
    @dfch_sunat         DATETIME,
    @ccod_cliente_emis  VARCHAR(50),
    @dfch_vencimiento   DATETIME,
    @ctoken             NVARCHAR(MAX),
    @ctip_facturador    VARCHAR(50),
    @id_estado          INT,
    @cpais_origen       VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Empresas
        (ccod_empresa, cdsc_empresa, cnombre_bd, cnombre_servidor, id_estado, cnum_tribu,
         csimbolo_moneda, cnombre_moneda, ctarifas, nusuario_extra, ntienda_extra, cdepartamento,
         cprovincia, cdistrito, curbanizacion, cdomicilio, cubigeo, nenviosunat, dfch_sunat,
         ccod_cliente_emis, dfch_vencimiento, ctoken, ctip_facturador, dfch_crea, cpais_origen)
    VALUES
        (@ccod_empresa, @cdsc_empresa, @cnombre_bd, @cnombre_servidor, ISNULL(@id_estado, 1),
         @cnum_tribu, @csimbolo_moneda, @cnombre_moneda, @ctarifas,
         ISNULL(@nusuario_extra, 0), ISNULL(@ntienda_extra, 0), @cdepartamento,
         @cprovincia, @cdistrito, @curbanizacion, @cdomicilio, @cubigeo, @nenviosunat,
         @dfch_sunat, @ccod_cliente_emis, @dfch_vencimiento, @ctoken, @ctip_facturador,
         GETDATE(), @cpais_origen);
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_insertarUsuarioAdmin]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_insertarUsuarioAdmin]
    @ccod_usuario  VARCHAR(50),
    @cdsc_usuario  VARCHAR(150),
    @cpassw        VARCHAR(100),
    @cdirec        VARCHAR(200),
    @id_rol        INT,
    @ccod_empresa  VARCHAR(20),
    @cstatus       VARCHAR(1),
    @cmail         VARCHAR(100),
    @ctelf         VARCHAR(20),
    @ccelular      VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Usuarios
        (ccod_usuario, cdsc_usuario, cpassw, cdirec, id_rol, ccod_empresa,
         cmail, ctelf, ccelular, id_estado)
    VALUES
        (@ccod_usuario, @cdsc_usuario, @cpassw, ISNULL(@cdirec, ''), @id_rol, @ccod_empresa,
         ISNULL(@cmail, ''), ISNULL(@ctelf, ''), ISNULL(@ccelular, ''),
         CASE WHEN @cstatus = 'A' OR @cstatus = '1' THEN 1 ELSE 0 END);
END;
GO
/****** Object:  StoredProcedure [dbo].[webDatpos_validarUsuario]    Script Date: 05/05/2026 03:45:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[webDatpos_validarUsuario]
    @ccod_usuario VARCHAR(50),
    @cpassw       VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        U.id_usuario,
        U.ccod_usuario,
        U.cdsc_usuario,
        U.id_rol,
        U.ccod_empresa,
        E.cdsc_empresa,
        E.cnombre_bd,
        E.cnombre_servidor
    FROM dbo.Usuarios U
    INNER JOIN dbo.Empresas E ON U.ccod_empresa = E.ccod_empresa
    WHERE U.ccod_usuario = @ccod_usuario
      AND U.cpassw       = @cpassw
      AND U.id_estado    = 1;
END;
GO
